In [2]:
""" Descriptive analysis
This Notebook contains the Descriptive analysis data 
Here the data can be accessed ,
Can be used for plotting,
And further analysis

Author: Vishank
Created: 11 December 2025
"""

' Descriptive analysis\nThis Notebook contains the Descriptive analysis data \nHere the data can be accessed ,\nCan be used for plotting,\nAnd further analysis\n\nAuthor: Vishank\nCreated: 11 December 2025\n'

In [3]:
#importing packages
import sys
sys.path.append("C:/Users/ASUS/Documents/ecommerce-sales-intelligence")
import pandas as pd 
from src.analytics import SalesAnalytics
import matplotlib as mp
import plotly as go

In [4]:
#variable to access the class from analytics.py
analytics=SalesAnalytics("C:/Users/ASUS/Documents/ecommerce-sales-intelligence/database/ecommerce.db")

 Connected to database: C:/Users/ASUS/Documents/ecommerce-sales-intelligence/database/ecommerce.db

In [5]:
#Using functions for accessing general queries...
print("Finding Total Orders from the Data")
Total_order = analytics.Count_Total_Orders()
print("Total Orders Are:")
print(Total_order)

Finding Total Orders from the Data
Total Orders Are:
   total_orders
0         51290

In [6]:
#Using functions for accessing general queries...
print("Finding Total Profit grenerated by Total Sales")
Generated_profit = analytics.Sales_generated_Profit()
print(" Total Profit grenerated by Total Sales Are:")
print(Generated_profit)

Finding Total Profit grenerated by Total Sales
 Total Profit grenerated by Total Sales Are:
   total_sales  total_profit
0      8023320     3730073.3

In [7]:
#Using functions for accessing general queries...
print("Finding Sales Per Category")
Categorical_sales = analytics.Categorical_Sales()
print(" Categorical Sales Are:")
print(Categorical_sales)

Finding Sales Per Category
 Categorical Sales Are:
     product_category    sales
0             Fashion  5212097
1    Home & Furniture  1319407
2  Auto & Accessories  1097078
3          Electronic   394738

In [8]:
#Using functions for accessing general queries...
print("Finding Sales Per Region")
Regional_sales = analytics.Regional_Sales()
print(" Regional Sales Are:")
print(Regional_sales)

Finding Sales Per Region
 Regional Sales Are:
            region    sales
0          Central  1735900
1            South  1034744
2             EMEA   788072
3            North   750622
4           Africa   713074
5          Oceania   544827
6   Southeast Asia   500862
7             West   497432
8             East   446468
9       North Asia   369816
10    Central Asia   321005
11       Caribbean   260495
12          Canada    60003

In [9]:
#Using functions for accessing Time Based queries...
print("Finding Sales Per Month")
Monthly_sales = analytics.Monthly_Sales()
print(" Monthly Sales Are:")
print(Monthly_sales)

Finding Sales Per Month
 Monthly Sales Are:
        month   sales
0     January  676313
1    February  610240
2       March  686681
3       April  659404
4         May  672547
5        June  664560
6        July  685152
7      August  670788
8   September  658844
9     October  689055
10   November  656663
11   December  693073

In [10]:
#Using functions for accessing Time Based queries...
print("Finding Sales Per Year")
Yearly_sales = analytics.Yearly_Sales()
print(" Yearly Sales Are:")
print(Yearly_sales)

Finding Sales Per Year
 Yearly Sales Are:
   year    sales
0  2015  8023320

In [11]:
#Top & bottom performers
#Best Products
print("Finding Best 10 Products")
Best_products = analytics.Best_Products(10)
print(" Best 10 Products Are:")
print(Best_products)

Finding Best 10 Products
 Best 10 Products Are:
         product  total_sales
0     T - Shirts       692912
1    Titak watch       637260
2  Running Shoes       626080
3          Jeans       609092
4   Formal Shoes       595335
5         Shirts       547624
6   Fossil Watch       444564
7   Casula Shoes       340990
8          Suits       304655
9    Sports Wear       240295

In [12]:
#Top & bottom performers
#Worst Products
print("Finding Worst 10 Products")
Worst_products = analytics.Worst_Products(10)
print(" Worst 10 Products Are:")
print(Worst_products)

Finding Worst 10 Products
 Worst 10 Products Are:
        product  total_sales
0      Keyboard         7293
1           LCD        14560
2  Mixer/Juicer        18592
3         Watch        22984
4         Mouse        24531
5          Fans        32929
6      Speakers        33930
7      Curtains        34952
8           LED        43008
9        Tablet        43979

In [13]:
#Top & bottom performers
#Top Customers
print("Finding Best 10 Customers")
Best_Customers = analytics.Top_Customers(10)
print(" Best 10 Customers Are:")
print(Best_Customers)

Finding Best 10 Customers
 Best 10 Customers Are:
       customer_name  total_sales
0  Mcclain O'Donnell        17015
1     Weber Halladay        16632
2       Leon Sissman        16321
3      Booth Pistole        16291
4   Ellis Carmichael        16174
5   Bates Gockenbach        15968
6      Bell Bickford        15932
7    Spears Thornton        15922
8       Graves Garza        15833
9      Flores Brooks        15807

In [14]:
#Profitability
#profit generated from each product
print("Finding Profit Generated by each Product")
Profit_per_Product = analytics.Products_profits()
print(" Profit Generated by each Product Are:")
print(Profit_per_Product)

Finding Profit Generated by each Product
 Profit Generated by each Product Are:
                   product    profit
0               T - Shirts  407717.3
1              Titak watch  355243.2
2            Running Shoes  346339.9
3                    Jeans  331899.2
4             Formal Shoes  318379.6
5                   Shirts  275253.6
6             Fossil Watch  181697.0
7                     Tyre  132302.5
8                   Towels  131158.0
9              Sofa Covers  119393.1
10              Bed Sheets  114973.1
11  Car Pillow & Neck Rest  107884.5
12            Car Speakers   92159.5
13            Casula Shoes   86329.7
14                Sneakers   80076.8
15                   Suits   53742.1
16             Sports Wear   47276.8
17         Dinner Crockery   43344.5
18       Car Media Players   39989.6
19                    Beds   35752.6
20               Shoe Rack   34018.7
21               Umbrellas   33260.6
22            Apple Laptop   33025.0
23                   Sofas   30743.4
24          Dinning Tables   28875.0
25                    Iron   26833.2
26              Bike Tyres   26803.2
27          Samsung Mobile   26568.6
28         Car & Bike Care   22700.3
29                  Tablet   22312.7
30         Car Body Covers   21629.9
31                     LED   20910.0
32                 Car Mat   20836.8
33         Car Seat Covers   20006.9
34                Curtains   16095.3
35                    Fans   12047.7
36                Speakers    9909.2
37                     LCD    6197.2
38            Mixer/Juicer    5033.3
39                   Mouse    4632.8
40                   Watch    3428.5
41                Keyboard    3292.4

In [15]:
#Profitability
#profit generated from each customer segment
print("Finding Profit Generated by each Customer Segment")
Profit_per_Segment = analytics.Customer_Segments_Profit()
print(" Profit Generated by each Customer Segment Are:")
print(Profit_per_Segment)

Finding Profit Generated by each Customer Segment
 Profit Generated by each Customer Segment Are:
       segment  segment_profit
0     Consumer       1915800.9
1    Corporate       1128826.4
2  Home Office        685446.0